<!-- INTERNAL TABLE FOR Ansible -->

{% set gcp_vars = hostvars["localhost"] %}
{% set real_location = gcp_vars.all_zones.stdout_lines %}

<div id="accordion">
  {% for location in real_location %}
    <div>
      <h3>
        <div id="region_title">{{ location }}</div>
      </h3>
      <div class="net_content">
        <table class="net_info">
          <tbody>
            <tr>
              <th class="vpc_info">Virtual Machine name</th>
              <th class="vpc_info">Virtual Machine ID </th>
              <th class="vpc_info">Virtual Machine Status</th>
            </tr>
              {% for zone in gcp_vars.gcp_vms.results %}
            <tr>
              {% for vm in zone.resources %}
              <td>{{ vm.name }}</td>
              <td>{{ vm.id }}</td>
              <td>{{ vm.status }}</td>
              {% endfor %}
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}  
</div>

<!-- END INTERNAL TABLE FOR Ansible -->
