  <div class="wrapper">
    <header>
      <div class="header-container">
        <a href="https://www.redhat.com/en/technologies/management/ansible">
          <img
            class="header-logo"
            src="redhat-ansible-logo.svg"
            title="Red Hat Ansible Automation Platform"
            alt="Red Hat Ansible Automation Platform"
          />
        </a>
      </div>
    </header>
